<div class="layer2 shadow tmar90">
  <h1 class="bmar25 bpad25 bline cfont">New Bookmark</h1>
  <%= render 'form' %>
  <small><%= link_to 'Back', shelf_bookmarks_path, class:"efont font1point5rem" %></small>
</div>
