<div class="layer2 tmar90 shadow pad50">
  <div class="tline tmar50">
    <h1 class="cfont tpad30 maxwid100">
      <%= @bookmark.url %>
    </h1>
    <div class="bline tmar50 bmar25"></div>
    <small>
      <i>categorized under
        <strong><%= @bookmark.shelf.title %></strong><br>
      </i>
    </small>
    <div class="tmar50">
      <%= link_to 'Back', shelf_path(@bookmark.shelf), class: "font2rem tcent efont" %>
    </div>
    <br>
  </div>
</div>
