<div class="layer2 tmar90 shadow pad50">
  <h1 class="cfont">Shelves</h1>
  <table class="wid100per">
    <thead>
      <tr>
        <th class="bline font2rem">Title</th>
      </tr>
    </thead>
    <br>
    <tbody>
      <td class="efont"><%= link_to '', new_shelf_path, class: "glyphicon glyphicon-plus pull-left efont font2rem tmar15 bmar15" %></td>
      <%= render @shelves %>
      </tr>
    </tbody>
  </table>
  <div class="bline tmar25 tpad15">
  </div>
  <%= link_to '', root_path, class: "glyphicon glyphicon-home gfont font2rem tmar25 tcent" %>
  <br>
</div>
