<div class="layer2 shadow tmar90">
  <h1 class="cfont bmar25 bpad25 bline">New Shelf</h1>
  <%= render 'form' %>
  <small><%= link_to 'Back', shelves_path, class:"efont font1point5rem" %></small>
</div>
