<div class="layer2 tmar90 shadow pad50">
  <div class="tline tmar50">
    <h1 class="cfont tpad30 maxwid100">What is Linkbrary?</h1>
    <div class="bline tmar50"></div>
    <%= link_to '', root_path, class: "glyphicon glyphicon-home efont font2rem tmar25 tcent" %>
    <br>
  </div>
</div>
