<div class="layer2 shadow tmar90">
  <div class="pull-right posrel">
    <% if !user_signed_in? %>
      <small><%= link_to "Log In", new_user_session_path, class: "cfont"  %></small>
    <% end %>
  </div>
    <h1 class="cfont bline">Shelves</h1>
  <div class="tmar50">
    <div class="owl-carousel">
      <% @shelves.each do |shelf| %>
      <div class="owl-item bmar75 lmar75">
        <%= link_to shelf.title, shelf, class: "tcent efont font4rem rline rmar50per" %>
      </div><br>
      <% end %>
    </div>
    <div class="tline bmar25">
    </div>
  </div>
</div>
