/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require owl.carousel
*= require owl.theme
*/

@import "bootstrap-sprockets";
@import "bootstrap";

.layer1 {
  background-color: lightgray;
  min-height: 1000px;
  width: 100%;
}

.layer2 {
  background-color: white;
  opacity: .95;
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
  min-height: 400px;
  min-width: 100px;
  width: 60%;
  height: auto;
  position: absolute;
  text-align: center;
  padding: 25px;
}

.headline {
  border-bottom: 1px solid black;
  min-width: 50px;
}

.headlineb {
  border-top: 1px solid black;
  min-width: 50px;
  height: 40%;
}

.afont {
  font-family: 'Playfair Display SC', serif;
  font-size: 7rem;
  text-align: center;
}

.bfont {
  color: black;
  background-color: lightgray;
  font-size: 4rem;
  border: none;
}

.bfont:hover {
  text-shadow: -4px 3px white;
  border: none;
}

.cfont {
  font-family: 'Monserrat', cursive;
  color: black;
  text-decoration: none;
}

.cfont:hover {
  text-decoration: none;
  background-color: white;
}

.dfont {
  color: black;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dfont:hover {
  color: black;
  text-decoration: none;
  text-shadow: 3px 3px lightgray;
}

.efont {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
}

.efont:hover {
  color: #4d4d4d;
  background-color: white;
  text-decoration: none;
  text-shadow: 2px 2px lightgray;
}

.efont:visited {
  color: black;
  background-color: white;
  text-decoration: none;
}

.ffont {
  color: darkgray;
  font-size: 1.5rem;
  font-weight: bold;
}

.gfont {
  color: darkgray;
  font-size: 3rem;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
}

.gfont:hover {
  color: #4d4d4d;
  background-color: white;
  text-decoration: none;
  text-shadow: 2px 2px black;
}

.gfont:visited {
  color: darkgray;
  background-color: white;
  text-decoration: none;
}

.font1rem {
  font-size: 1rem;
}

.nodec {
  text-decoration: none;
  background-color: white;
  color: black;
}

.nodec:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}


.font1point5rem {
  font-size: 1.5rem;
}
.font2rem {
  font-size: 2rem;
}

.font3rem {
  font-size: 3rem;
}

.font4rem {
  font-size: 4rem;
}

.font5rem {
  font-size: 5rem;
}

.rmar25 {
 margin-right: 35px;
}

.rmar25 {
 margin-right: 35px;
}

.rmar50 {
  margin: 50px;
}

.rmar10 {
 margin-right: 15px;
}

.rmarneg15 {
 margin-right: -15px;
}

.tmar15 {
 margin-top: 15px;
}

.tmar25 {
 margin-top: 25px;
}
.tmar125 {
 margin-top: 125px;
}
.tmar150 {
 margin-top: 150px;
}

.tmar50 {
 margin-top: 50px;
}

.tmar90per {
 margin-top: 90%;
 height: 5%;
 margin-bottom: 5%;
}

.tmar50per {
 margin-top: 150px;
}

.tmar33per {
 margin-top: 33%;
}

.bmar15 {
 margin-bottom: 15px;
}

.bmar25 {
 margin-bottom: 25px;
}

.bmar75 {
 margin-bottom: 75px;
}

.lmar15 {
 margin-left: 15px;
}

.lmar25 {
 margin-left: 25px;
}

.lmar33per {
 margin-left: 33%;
}

.lmar100 {
 margin-left: 100px;
}

.lmar150 {
 margin-left: 150px;
}

.lmar25per {
 margin-left: 25%;
}

.lmar50per {
 margin-left: 50%;
}

.lmarneg10 {
 margin-left: -10px;
}

.rmar25 {
 margin-right: 25px;
}

.rmar50per {
 margin-right: 50%;
}

.rmar150 {
 margin-right: 150px;
}

.lmar10 {
 margin-left: 10px;
}

.absolutely {
 position: absolute;
}

.lpad25 {
 padding-left: 25px;
}

.rpad {
 padding-right: 10px;
}

.rpad50 {
 padding-right: 50px;
}

.lpad15 {
 padding-left: 15px;
}

.lpad10 {
 padding-left: 10px;
}

.lpad3per {
  padding-left: 3%;
}

.rpad0 {
 padding-right: 0px;
}

.rpad25 {
 padding-right: 25px;
}

.rpad50per {
 padding-right: 50%;
}

.tpad25 {
 padding-top: 25px;
}

.tpad50 {
 padding-top: 50px;
}

.tpad75 {
 padding-top: 75px;
}

.bpad25 {
 padding-bottom: 25px;
}

.pad25 {
 padding: 25px;
}

.pad50 {
  padding: 50px;
}

.mar25 {
 margin: 50px;
}

.bmar10per {
 margin-bottom: 10%;
}

.tmarneg25 {
 margin-top: -50px;
 margin-left: -25px;
}

.tmar {
 margin-top: 100px;
}
.tmar90 {
 margin-top: 90px;
}
.posfx {
 position: fixed;
}
.wid50{
 width: 50px;
 position: relative;
 float: right;
}
.rmar60per {
   margin-right: 60%
}
.fl {
 position: relative;
 float: left;
}
.abs {
 position: absolute;
}

.rmar25 {
 margin-right: 35px;
}

.rmar10 {
 margin-right: 15px;
}

.rmarneg15 {
 margin-right: -15px;
}

.tmar15 {
 margin-top: 15px;
}

.tmar25 {
 margin-top: 25px;
}
.tmar125 {
 margin-top: 125px;
}
.tmar150 {
 margin-top: 150px;
}

.tmar75 {
  margin-top: 75px;
}

.tmar50 {
 margin-top: 50px;
}

.tmar90per {
 margin-top: 90%;
 height: 5%;
 margin-bottom: 5%;
}

.tmar50per {
 margin-top: 150px;
}

.tmar33per {
 margin-top: 33%;
}

.bmar15 {
 margin-bottom: 15px;
}

.bmar25 {
 margin-bottom: 25px;
}

.bmar75 {
 margin-bottom: 75px;
}

.lmar15 {
 margin-left: 15px;
}

.lmar25 {
 margin-left: 25px;
}

.lmar33per {
 margin-left: 33%;
}

.lmar100 {
 margin-left: 100px;
}

.lmar150 {
 margin-left: 150px;
}

.lmar25per {
 margin-left: 25%;
}

.lmarneg10 {
 margin-left: -10px;
}

.rmar25 {
 margin-right: 25px;
}

.lmar10 {
 margin-left: 10px;
}

.lpad25 {
 padding-left: 25px;
}

.rpad {
 padding-right: 10px;
}

.lpad15 {
 padding-left: 15px;
}

.lpad10 {
 padding-left: 10px;
}

.rpad0 {
 padding-right: 0px;
}

.rpad25 {
 padding-right: 25px;
}

.tpad25 {
 padding-top: 25px;
}

.tpad3 {
  padding-top: 3px;
}

.tpad10 {
  padding-top: 10px;
}

.tpad15 {
  padding-top: 15px;
}

.tpad50 {
 padding-top: 50px;
}

.tpad75 {
 padding-top: 75px;
}

.tpad40 {
  padding-top: 40px;
}

.tpad30 {
  padding-top: 40px;
}

.bpad25 {
 padding-bottom: 25px;
}

.pad25 {
 padding: 25px;
}

.mar25 {
 margin: 50px;
}

.wid30per {
 width: 30%;
}

.wid25per {
  width: 25%;
}

.lmar3per {
 margin-left: 3%;
}

.lmar75 {
  margin-left: 75px;
}

.rmar3per {
 margin-right: 3%;
}

.lmar3per {
 margin-left: 3%;
}

.bmar10per {
 margin-bottom: 10%;
}

.tmarneg25 {
 margin-top: -50px;
 margin-left: -25px;
}

.tmar {
 margin-top: 100px;
}

.tmar90 {
 margin-top: 90px;
}

.tmar75per {
 margin-top: 75%;
}
.posfx {
 position: fixed;
}

.wid50{
 width: 50px;
 position: relative;
 float: right;
}

.wid200 {
  width: 200px;
}

.ht100 {
  height: 100px;
}

.ht10 {
  height: 10px;
}

.ht10rem {
  height: 10rem;
}

.rmar60per {
   margin-right: 60%
}
.fl {
 position: relative;
 float: left;
}
.abs {
 position: absolute;
}

.posrel {
  position: relative;
}

.tcent {
  text-align: center;
}

.bline {
  border-bottom: 1px solid lightgray;
}

.bline2 {
  border-bottom: 1px solid black;
}

.tline {
  border-top: 1px solid lightgray;
}

.rline {
  border-right: 1px solid lightgray;
  padding-right: 75px;
  height: 100px;
}

.wid100per {
  width: 100%;
}

.maxwid100 {
  max-width: 100%;
  overflow: hidden;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 25px #000000;
}
